.btn-outline-mycolor {
    color: #21ce99 !important;
    background-color: transparent;
    background-image: none;
    border-color: #21ce99 !important;
}

.btn-outline-mycolor:hover {
    color: white !important;
    background-color: #21ce99 !important;
    background-image: none;
    border-color: #21ce99 !important;
}

#cancel:hover #cancel-icon {
  color: white !important;
}

.btn-outline-mycolor:focus,.btn-outline-mycolor:active {
   outline: #21ce99 !important;
   box-shadow: none;
}

.btn-mycolor:focus,.btn-mycolor:active {
   outline: #21ce99 !important;
   box-shadow: none;
}
a:hover{
    text-decoration: none;
}

.my-ul {
    list-style-type: none;
}
.my-ul-list {
    padding-top: 10px;
    padding-top: 10px;
}
#links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}
#links-li {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #c4c4c4 !important;
    font-size: 20px;
}

button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-mycolor {
  background-color: #21ce99 !important;
  border-color: #1ebc8c !important;
  outline: #1ebc8c !important;
  box-shadow: none !important;
  color: white !important;
}
.btn-mycolor:hover {
  background-color: #26efb2;
  border-color: #1fd19b !important;
  outline: #1fd19b !important;
  box-shadow: none !important;
  color: white;
}
.mycolor
{
    background-color: #21ce99 !important;
}
.mycolor-text
{
    background-color: #21ce99 !important;
    color: white !important;
}
.mycolor-border
{
    background-color: #1ebc8c !important;
}

.card-img-profile {
  max-width: 100%;
  border-radius: 50%;
  margin-top: -95px;
  margin-bottom: 10px;
  border: 5px solid #e6e5e1;
}

.border-bottom-active
{
  border-bottom: 2px solid #1fd19b !important;
  color: #1fd19b;
}
button.btn:focus {
  border-width: 0;
}
.dropdown-react {
  width: 50%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.btn {
  text-decoration: none;
}
html {
  overflow-y: scroll;
}




.react-expand-collapse__content {
  position: relative;
  overflow: hidden;
}

.react-expand-collapse__body {
  display: inline;
}

/* expand-collapse button */
.react-expand-collapse__button {
  color: #22a7f0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-expand-collapse__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent 0, #fff 100%);
}

/* expanded state */
.react-expand-collapse--expanded .react-expand-collapse__button {
  padding-left: 5px;
  position: relative;
  bottom: auto;
  right: auto;
}

.react-expand-collapse--expanded .react-expand-collapse__button:before {
  content: none;
}


.bg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: url("images/bg/bg_red.png");
      background: -webkit-linear-gradient(top,rgba(24,28,37,0),rgba(24,28,37,.45)),url("images/bg/bg_red.png");
      background: linear-gradient(180deg,rgba(24,28,37,0),rgba(24,28,37,.45)),url("images/bg/bg_red.png");
      width: 100%;
      position: relative;
      box-shadow: 0 2px 2px rgba(0,0,0,.1);
      padding: 8rem 2rem 1.1rem;
      min-height: 100vh;
      min-width: 100%;
      height: auto;
      border-radius: 0px !important;
      z-index: -1;

}

.radial
{
    position: absolute;
    align-self: center;
    /* top: -70%; */
    /* max-width: 100vw; */
    -webkit-animation: rotation 550s linear infinite;
    animation: rotation 550s linear infinite;
    animation-direction: reverse;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
    background-size: cover;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}

.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}

.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}

.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}

.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px;
}

.star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px;
}

.star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px;
}

.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}

.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}

.star-6, .star-7, .star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}

.star-7 {
  right: 50px;
  bottom: 60px;
}

.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24D7F7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #F7FFFF;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #FFF;
  left: 20px;
  top: 25px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #FFF;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #FFF;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #FFF;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #FFF;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #FFF;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.dark-text {
  color: #f8f9fa !important;
}
.white-text {
  color: #212529 !important;
}
.dark-body {
  background: #131415 !important;
}
.white-body {
  background: #fafbfe !important;
}
.dark-card {
  background-color: #242627!important;
  color: white !important;
}
.white-card {
  background-color: white !important;
  color: rgb(28, 30, 32) !important;
  box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px !important;
}
.dark-mode white-text btn {
  color: white !important;
}

.dark-mode dark-text btn {
  color: white !important;
}

.white-text-detail {
  color: rgba(0,0,0,.6) !important;
}

.dark-text-detail  {
  color: #b5b5b5 !important;
}

.white-text-card-title {
  color: #343a40 !important;
}

.dark-text-card-title   {
  color: #ececec !important;
}



.white-text-card-desc {
  color: #343a40 !important;
}

.dark-text-card-desc   {
  color: #ececec !important;
}

.dark-text-card-sub-title {
  color: white !important;
}

.white-text-card-sub-title {
  color: #343a40 !important;
}

.react-expand-collapse__button {
    color: #1fd19b !important;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.react-expand-collapse__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    background: transparent !important;
}
